@use "../../styles/partials/variables" as *;

.match {
  position: relative;
  background-color: $light-blue;
  height: 100vh;

  &__title {
    padding: 1rem;
    color: white;
    font-weight: 500;
    font-size: 1.5rem;
  }
}

.user-card {
  position: relative;
  width: 600px;
  padding: 1rem;
  max-width: 80vw;
  height: 50vh;
  border-radius: 0.25rem;
  background-size: cover;
  background-position: center;
  box-shadow: 0 1.125rem 3.3125rem 0 rgba(0, 0, 0, 0.3);

  &__title {
    font-size: 1.5rem;
    background: $light-blue;
    color: $champagne;
    padding: 0.25rem 0.5rem;
    border-radius: 5px;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
  }

  &__info-wrap {
    position: absolute;
    bottom: 0.25rem;
    left: 0.5rem;
  }

  &__exp {
    background: $dark-purple;
    color: $champagne;
    padding: 0 0.5rem;
  }
}

.card-container {
  display: flex;
  justify-content: center;
  margin-top: 5vh;
}

.user-swipe {
  position: absolute;
}
