@use "../../styles/partials/variables" as *;

.area-section {
  background-color: $dark-blue;

  &__img-cont {
    height: 20vh;
    width: 100vw;
  }

  &__img {
    height: 100%;
    width: 100%;
  }

  &__title {
    background-color: $dark-blue;
    color: $sand;
  }
}
