@font-face {
  font-family: MontserratAlternates-SemiBold;
  src: url("../../assets/fonts/MontserratAlternates-SemiBold.ttf");
}

@font-face {
  font-family: Roboto-Medium;
  src: url("../../assets/fonts/Roboto-Medium.ttf");
}
