@use "../../styles/partials/variables" as *;
@use "../../styles/partials/global" as *;

.create-card {
  display: flex;
  flex-direction: column;
  margin: 1rem;

  &__header {
    color: white;
    margin-bottom: 1rem;
  }

  &__body {
    margin-top: 1rem;
  }
}

.create-form {
  &__group {
    margin-top: 1rem;
  }

  &__buttons {
    margin-top: 1rem;
  }

  &__button {
    width: 100%;
    background-color: $light-blue;
    border: none;
    color: $champagne;
    padding: 0.5rem;
    border-radius: 4px;
    margin-top: 0.5rem;
  }
}
